
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="notifications">
    <ul>

    </ul>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var hub = $.connection.meterHub;

        hub.client.notify = function (name, notification) {
            var encodedMsg = $('<li />').html("WseId: <b>" + notification.WseId + "</b> CreditAmount: <b>" + notification.CreditAmount + "</b> CustomerName: " + notification.CustomerName + " ReadingTime: " + notification.ReadingTime + " LastTransactionAmount " + notification.TxnAmount).html();
            $("#notifications ul").prepend("<li>" + encodedMsg + "</li>");
        };

        $.connection.hub.start().done(function () {
            hub.server.joinGroup("Incoming");
        });

    });

</script>