@model SoftMeter.UIConsole.Models.StartNewMeterViewModel
@{
    ViewBag.Title = "StartNewMeterConfirmation";
}
<h4>Top Up sent to meter MeterId: @Model.MeterId</h4>


<div id="notifications">
    <ul></ul>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var hub = $.connection.meterHub;

        hub.client.notify = function (name, notification) {
            var encodedMsg = $('<li />').html("MeterId: <b>" + notification.MeterId + "</b> CreditAmount: <b>" + notification.CreditAmount + "</b> CustomerName: " + notification.CustomerName + " ReadingTime: " + notification.ReadingTime + " LastTransactionAmount " + notification.TxnAmount).html();
            $("#notifications ul").prepend("<li>" + encodedMsg + "</li>");
        };

        $.connection.hub.start().done(function () {
            hub.server.joinGroup("Meter"+@Model.MeterId);
        });

    });

</script>